<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="rd.tands.base64ToJPG"
      version="0.1.0">
    <name>base64ToJPG</name>
    <description>Sample PhoneGap base64ToJPG Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,base64ToJPG</keywords>
 
 
    <js-module src="www/base64ToJPG.js" name="base64ToJPG">
        <clobbers target="window.base64ToJPG" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="base64ToJPG">
                <param name="android-package" value="rd.tands.base64ToJPG.base64ToJPG"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/base64ToJPG.java" target-dir="src/rd/tands/base64ToJPG" />      
     </platform>          
</plugin>
